@font-face {
  font-family: "PP Playground";
  src: url("fonts/PPPlayground-Thin.eot");
  src: url("fonts/PPPlayground-Thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/PPPlayground-Thin.woff2") format("woff2"),
    url("fonts/PPPlayground-Thin.woff") format("woff"),
    url("fonts/PPPlayground-Thin.ttf") format("truetype"),
    url("fonts/PPPlayground-Thin.svg#PPPlayground-Thin") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Playground";
  src: url("fonts/PPPlayground-Medium.eot");
  src: url("fonts/PPPlayground-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/PPPlayground-Medium.woff2") format("woff2"),
    url("fonts/PPPlayground-Medium.woff") format("woff"),
    url("fonts/PPPlayground-Medium.ttf") format("truetype"),
    url("fonts/PPPlayground-Medium.svg#PPPlayground-Medium") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PP Playground";
  src: url("fonts/PPPlayground-Light.eot");
  src: url("fonts/PPPlayground-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/PPPlayground-Light.woff2") format("woff2"),
    url("fonts/PPPlayground-Light.woff") format("woff"),
    url("fonts/PPPlayground-Light.ttf") format("truetype"),
    url("fonts/PPPlayground-Light.svg#PPPlayground-Light") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  cursor: none;
}

:root {
  font-size: 12px;
  --color-text: #f0f0f0;
  --color-bg: #0f0e0e;
  --color-link: #aaa;
  --color-link-hover: #fff;
  --color-title: #7f7f8f;
  --color-year: #b9b3af;
  --img-ratio: 1.5;
  --s: 1;
}

*::selection {
  background-color: orange;
  color: rgb(22, 22, 22);
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden !important;
  /* cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=="),
    auto; */
}

.custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}
.custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}

/* Page Loader */
.js .loading::before,
.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1000;
}

.js .loading::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.js .loading::after {
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  opacity: 0.4;
  background: var(--color-link);
  animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
  to {
    opacity: 1;
    transform: scale3d(0.7, 0.7, 1);
  }
}

a {
  text-decoration: none;
  color: var(--color-link);
  outline: none;
  cursor: none;
  transition: font-weight 200ms ease;
}

a:hover {
  color: var(--color-link-hover);
  outline: none;
  font-weight: bold;
  /* letter-spacing: 0.08em; */
}

/* Better focus styles from https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus {
  /* Provide a fallback style for browsers
	 that don't support :focus-visible */
  outline: none;
}

a:focus-visible {
  /* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
  /* outline: 2px solid red; */
}

/**
TRANSITION PAGE
**/
ul.transition {
  display: flex;
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: calc(100vw + 50px);
  top: 0;
  left: 0;
  margin: 0;
  margin-left: -50px;
  pointer-events: none;
  list-style: none;
  list-style-type: none;
}

ul.transition li {
  transform: scaleY(0);
  background: rgba(125, 81, 0, 0.753);
  width: 100%;
  list-style: none;
}

/**
GRID
*/

.lv {
  width: 1px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 33.5%;
  background: rgba(255, 166, 0, 0.267);
  box-shadow: 0 0 4px 1px #2c2c2c;
  z-index: -1;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .rv {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 5rem;
    background: rgba(255, 166, 0, 0.267);
    box-shadow: 0 0 4px 1px #2c2c2c;
    z-index: -1;
  }
}

.th {
  width: 1px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 33.5%;
  background: rgba(255, 166, 0, 0.267);
  box-shadow: 0 0 4px 1px #2c2c2c;
  z-index: -1;
}

.bh {
  width: 100%;
  height: 1px;
  position: fixed;
  bottom: 5rem;
  left: 0;
  background: rgba(255, 166, 0, 0.267);
  box-shadow: 0 0 4px 1px #2c2c2c;
  z-index: -1;
}

.unbutton {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.unbutton:focus {
  outline: none;
}

.frame {
  position: relative;
  padding: 2rem 3rem;
  display: grid;
  min-height: 400px;
  width: 100%;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-areas: "prev back ... sponsor" "title title title title" "demos demos demos demos";
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  pointer-events: none;
  justify-items: start;
}

.frame a {
  pointer-events: auto;
}

.frame__title {
  grid-area: title;
  font-size: clamp(1.5rem, 12vw, 9rem);
  margin: 0;
  font-weight: 300;
  max-width: 80vw;
  line-height: 1.2;
}

.frame__title span {
  font-optical-sizing: auto;
  font-family: "PP Playground", cursive;
  font-size: clamp(1.5rem, 15vw, 13rem);
}

.frame__back {
  grid-area: back;
  justify-self: start;
}

.frame__prev {
  grid-area: prev;
  justify-self: start;
}

.nav {
  display: none;
}
@media only screen and (min-width: 768px) {
  .nav {
    position: fixed;
    top: 3.65rem;
    right: 10rem;
    width: 35vw;
    display: flex;
    justify-content: space-evenly;
    z-index: 100;
    /* mix-blend-mode: exclusion; */
    color: white;
    font-size: 1.15rem;
  }
}

.lang {
  position: fixed;
  top: 3.65rem;
  right: 4rem;
  z-index: 100;
  font-size: 1.15rem;
  /* mix-blend-mode: exclusion; */
}

.frame__demos {
  grid-area: demos;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: start;
  flex-wrap: wrap;
}

.frame__demos-item:not(:first-child) {
  width: 2rem;
  display: block;
  flex: none;
  border-radius: 10px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

span.frame__demos-item:not(:first-child) {
  border-color: #fff;
}

.grid {
  width: 100%;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  display: grid;
  grid-gap: 4rem;
  position: relative;
  margin: 10vh auto 50vh;
}

.grid__item {
  position: relative;
  margin: 0;
}

.grid__item-img {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  aspect-ratio: var(--img-ratio);
}

.grid__item-img-inner {
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  position: relative;
}

.grid__item-caption {
  position: absolute;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.grid__item-caption h3 {
  font-weight: bold;
  font-size: inherit;
  margin: 0;
  color: var(--color-title);
}

.grid__item-caption span {
  font-weight: bold;
  color: var(--color-year);
}

.outro {
  display: grid;
  place-items: center;
  margin: 32vh 0;
}

.outro__title {
  font-weight: 300;
  font-size: clamp(1.5rem, 10vw, 2rem);
}

.card-wrap {
  margin-top: 5vh;
  display: grid;
  grid-gap: 2rem;
  grid-auto-flow: row;
  grid-template-columns: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .card-wrap .card:nth-child(1) {
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

.card__image {
  display: block;
  border-radius: 7px;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 3;
  filter: contrast(0.95);
}

.card__title {
  font-weight: 300;
}

.credits {
  font-size: 1.5rem;
  text-align: center;
  margin: 50vh auto 0;
  padding-bottom: 50vh;
}

.card_address,
.card_hours,
.card_legal {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  align-items: start;
  margin-bottom: 1.5rem;
}
.card_legal span {
  text-decoration: underline;
}

.card_logo {
  grid-area: title;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin: 0;
  font-weight: 300;
  line-height: 1.2;
}
.card_logo span {
  font-optical-sizing: auto;
  font-family: "PP Playground", cursive;
  font-size: clamp(1.5rem, 6vw, 4.5rem);
}

.card_fork a {
  border: 1px solid rgba(255, 255, 255, 0.53);
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #00000017;
}

.card_contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}

.footer span {
  opacity: 0.65;
  font-size: 0.85rem;
}
.footer_logo img {
  width: 30px;
  margin-right: 0.35rem;
  opacity: 0.45;
}
.footer_logo img:nth-child(2) {
  width: 33px;
}

@media screen and (min-width: 53em) {
  .card-wrap {
    grid-template-columns: repeat(3, 400px);
  }

  .grid {
    grid-template-columns: repeat(8, 1fr);
  }

  .grid__item {
    grid-column: var(--c) / span var(--s);
    grid-row: var(--r);
  }
}

/**
  BACKGROUND
*/
/* Keyframes with Vendor Prefixes */
@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@-moz-keyframes move {
  100% {
    -moz-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@-o-keyframes move {
  100% {
    -o-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1px) rotate(360deg);
    -moz-transform: translate3d(0, 0, 1px) rotate(360deg);
    -ms-transform: translate3d(0, 0, 1px) rotate(360deg);
    -o-transform: translate3d(0, 0, 1px) rotate(360deg);
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 105vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #100f0f;
  overflow: hidden;
  z-index: -100;
}

.background span {
  z-index: -100;
  width: 50vmin;
  height: 50vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  -webkit-animation: move 33s linear infinite;
  -moz-animation: move 33s linear infinite;
  -ms-animation: move 33s linear infinite;
  -o-animation: move 33s linear infinite;
  animation: move 33s linear infinite;
  opacity: 0.12;
}

.background span:nth-child(0) {
  color: #f88819;
  top: 79%;
  left: 1%;
  animation-duration: 134s;
  animation-delay: -142s;
  transform-origin: 10vw -23vh;
  box-shadow: -100vmin 0 13.391210484149935vmin currentColor;
}
.background span:nth-child(1) {
  color: #ff6900;
  top: 54%;
  left: 85%;
  animation-duration: 115s;
  animation-delay: -15s;
  transform-origin: -2vw 4vh;
  box-shadow: -100vmin 0 12.561351089953808vmin currentColor;
}
.background span:nth-child(2) {
  color: #d6501b;
  top: 89%;
  left: 81%;
  animation-duration: 163s;
  animation-delay: -161s;
  transform-origin: 11vw 0vh;
  box-shadow: -100vmin 0 12.89698611434263vmin currentColor;
}
.background span:nth-child(3) {
  color: #d6501b;
  top: 7%;
  left: 44%;
  animation-duration: 70s;
  animation-delay: -89s;
  transform-origin: -2vw -21vh;
  box-shadow: -100vmin 0 12.524011666473173vmin currentColor;
}
.background span:nth-child(4) {
  color: #d6501b;
  top: 59%;
  left: 23%;
  animation-duration: 57s;
  animation-delay: -122s;
  transform-origin: -11vw 17vh;
  box-shadow: -100vmin 0 13.373134561017281vmin currentColor;
}
.background span:nth-child(5) {
  color: #d6501b;
  top: 50%;
  left: 98%;
  animation-duration: 159s;
  animation-delay: -87s;
  transform-origin: 16vw 19vh;
  box-shadow: 100vmin 0 13.011606591633136vmin currentColor;
}
.background span:nth-child(6) {
  color: #f88819;
  top: 78%;
  left: 32%;
  animation-duration: 135s;
  animation-delay: -131s;
  transform-origin: -22vw 6vh;
  box-shadow: 100vmin 0 12.726436159179842vmin currentColor;
}
.background span:nth-child(7) {
  color: #ff6900;
  top: 16%;
  left: 50%;
  animation-duration: 72s;
  animation-delay: -46s;
  transform-origin: 10vw 19vh;
  box-shadow: -100vmin 0 13.193308221342747vmin currentColor;
}
.background span:nth-child(8) {
  color: #d6501b;
  top: 77%;
  left: 18%;
  animation-duration: 163s;
  animation-delay: -161s;
  transform-origin: -19vw -12vh;
  box-shadow: -100vmin 0 12.658957841199712vmin currentColor;
}
.background span:nth-child(9) {
  color: #f88819;
  top: 38%;
  left: 34%;
  animation-duration: 35s;
  animation-delay: -111s;
  transform-origin: -5vw -4vh;
  box-shadow: -100vmin 0 12.594848222607979vmin currentColor;
}
.background span:nth-child(10) {
  color: #ff6900;
  top: 73%;
  left: 38%;
  animation-duration: 16s;
  animation-delay: -156s;
  transform-origin: -22vw 10vh;
  box-shadow: 100vmin 0 13.118758047839993vmin currentColor;
}
.background span:nth-child(11) {
  color: #f88819;
  top: 61%;
  left: 35%;
  animation-duration: 9s;
  animation-delay: -167s;
  transform-origin: -15vw 18vh;
  box-shadow: 100vmin 0 13.46808141518106vmin currentColor;
}
.background span:nth-child(12) {
  color: #f88819;
  top: 24%;
  left: 99%;
  animation-duration: 108s;
  animation-delay: -121s;
  transform-origin: 12vw -24vh;
  box-shadow: -100vmin 0 12.72661010377216vmin currentColor;
}
.background span:nth-child(13) {
  color: #ff6900;
  top: 39%;
  left: 85%;
  animation-duration: 95s;
  animation-delay: -40s;
  transform-origin: -1vw 16vh;
  box-shadow: 100vmin 0 12.732750611525894vmin currentColor;
}
.background span:nth-child(14) {
  color: #d6501b;
  top: 79%;
  left: 65%;
  animation-duration: 131s;
  animation-delay: -46s;
  transform-origin: 23vw 20vh;
  box-shadow: -100vmin 0 13.050879416275539vmin currentColor;
}
.background span:nth-child(15) {
  color: #ff6900;
  top: 2%;
  left: 49%;
  animation-duration: 86s;
  animation-delay: -27s;
  transform-origin: 14vw -2vh;
  box-shadow: 100vmin 0 12.579140103719338vmin currentColor;
}
.background span:nth-child(16) {
  color: #d6501b;
  top: 97%;
  left: 95%;
  animation-duration: 31s;
  animation-delay: -112s;
  transform-origin: -7vw -10vh;
  box-shadow: -100vmin 0 12.757245422585768vmin currentColor;
}
.background span:nth-child(17) {
  color: #ff6900;
  top: 93%;
  left: 27%;
  animation-duration: 13s;
  animation-delay: -60s;
  transform-origin: -1vw 21vh;
  box-shadow: 100vmin 0 13.13984331590448vmin currentColor;
}
.background span:nth-child(18) {
  color: #ff6900;
  top: 8%;
  left: 10%;
  animation-duration: 41s;
  animation-delay: -50s;
  transform-origin: -11vw 14vh;
  box-shadow: 100vmin 0 12.609710534565675vmin currentColor;
}
.background span:nth-child(19) {
  color: #f88819;
  top: 70%;
  left: 77%;
  animation-duration: 154s;
  animation-delay: -112s;
  transform-origin: -13vw 22vh;
  box-shadow: 100vmin 0 12.886560758506018vmin currentColor;
}
.background span:nth-child(20) {
  color: #ff6900;
  top: 78%;
  left: 93%;
  animation-duration: 119s;
  animation-delay: -59s;
  transform-origin: 15vw 19vh;
  box-shadow: 100vmin 0 12.532657102781057vmin currentColor;
}
/* 
.background span:nth-child(21) {
  color: #d6501b;
  top: 24%;
  left: 83%;
  animation-duration: 14s;
  animation-delay: -64s;
  transform-origin: 17vw 4vh;
  box-shadow: 100vmin 0 12.529576835096764vmin currentColor;
}
.background span:nth-child(22) {
  color: #f88819;
  top: 32%;
  left: 74%;
  animation-duration: 128s;
  animation-delay: -11s;
  transform-origin: 20vw -5vh;
  box-shadow: 100vmin 0 12.97904797944048vmin currentColor;
}
.background span:nth-child(23) {
  color: #f88819;
  top: 89%;
  left: 19%;
  animation-duration: 70s;
  animation-delay: -4s;
  transform-origin: 19vw 15vh;
  box-shadow: -100vmin 0 13.402830353606491vmin currentColor;
}
.background span:nth-child(24) {
  color: #d6501b;
  top: 89%;
  left: 12%;
  animation-duration: 71s;
  animation-delay: -121s;
  transform-origin: -15vw 18vh;
  box-shadow: 100vmin 0 13.240075770454716vmin currentColor;
}
.background span:nth-child(25) {
  color: #d6501b;
  top: 26%;
  left: 38%;
  animation-duration: 78s;
  animation-delay: -96s;
  transform-origin: -5vw -24vh;
  box-shadow: 100vmin 0 12.649292315661654vmin currentColor;
} */
/* .background span:nth-child(26) {
  color: #f88819;
  top: 23%;
  left: 32%;
  animation-duration: 105s;
  animation-delay: -157s;
  transform-origin: -19vw 1vh;
  box-shadow: -100vmin 0 12.503850386440892vmin currentColor;
}
.background span:nth-child(27) {
  color: #f88819;
  top: 2%;
  left: 14%;
  animation-duration: 126s;
  animation-delay: -139s;
  transform-origin: -8vw -9vh;
  box-shadow: 100vmin 0 13.386889167028823vmin currentColor;
}
.background span:nth-child(28) {
  color: #ff6900;
  top: 81%;
  left: 92%;
  animation-duration: 66s;
  animation-delay: -112s;
  transform-origin: 12vw -3vh;
  box-shadow: -100vmin 0 13.411718466253973vmin currentColor;
}
.background span:nth-child(29) {
  color: #d6501b;
  top: 99%;
  left: 87%;
  animation-duration: 172s;
  animation-delay: -13s;
  transform-origin: 25vw 7vh;
  box-shadow: 100vmin 0 13.039623129213478vmin currentColor;
}
.background span:nth-child(30) {
  color: #ff6900;
  top: 80%;
  left: 5%;
  animation-duration: 149s;
  animation-delay: -144s;
  transform-origin: 0vw 10vh;
  box-shadow: 100vmin 0 13.139427001819124vmin currentColor;
}
.background span:nth-child(31) {
  color: #d6501b;
  top: 79%;
  left: 10%;
  animation-duration: 168s;
  animation-delay: -98s;
  transform-origin: 10vw 22vh;
  box-shadow: -100vmin 0 12.911441386567665vmin currentColor;
} */

/**
Nav Mobile
*/

* {
  -webkit-user-select: none;
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

.header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
  width: 50px;
  height: 75px;
  position: fixed;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.85rem;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
  content: "";
  height: 2.5px;
  width: 25px;
  background-color: currentColor;
  transition: 400ms 350ms;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer-open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer-open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-input:checked ~ .drawer-open span {
  width: 0px;
  transition: 100ms;
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-input:checked ~ .drawer-open span::before {
  bottom: 0;
  transition: all 400ms 100ms cubic-bezier(0.1, 0, 0.85, 0);
  transform: rotate(45deg);
}

#drawer-input:checked ~ .drawer-open span::after {
  top: 0;
  transition: all 400ms 100ms cubic-bezier(0.1, 0, 0.85, 0);
  transform: rotate(-45deg);
}

#drawer-input:checked ~ .nav-content {
  transition: all 500ms cubic-bezier(0.1, 0, 0.8, 0);
  height: calc(100vh - 30px);
}

.nav-content .items {
  pointer-events: none;
}
#drawer-input:checked ~ .nav-content .items {
  opacity: 1;
  transition: 1500ms 600ms;
  pointer-events: all;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 75px;
  width: calc(100 - 60px);
  margin: 15px 15px 0 30px;
}

.items {
  width: 100%;
  min-width: 300px;
  margin: 0 15px 0;
}

.item {
  list-style: none;
  border-bottom: solid 2px rgba(255, 166, 0, 0.567);
}

.item:first-child {
  border-top: solid 2px rgba(255, 166, 0, 0.567);
}

.item a {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.item a p {
  transition: 150ms;
}

.item:hover a p {
  color: #7fb1c9ff;
}

.nav-content {
  position: fixed;
  height: 75px;
  width: calc(100vw - 30px);
  left: 0;
  top: 0;
  margin: 15px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px 0 rgba(3, 3, 3, 0.3);
  min-width: 300px;
  border-radius: 38px;
  transition: 400ms 350ms;
  z-index: -1;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content .items {
  opacity: 0;
  transition: 350ms;
  margin-top: 75px;
  padding-inline-start: 0px;
  background-color: rgba(0, 0, 0, 0);
}

p {
  font-size: 20px;
}

/**
Experience
*/
.experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-width: 100vw;
}

.experience h5 {
  font-size: 5rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}

.experience-section__one {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.experience-section__one img {
  width: 100%;
}

.experience-section__one div {
  width: 100%;
}

.experience-section__one div span {
  font-size: 4rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}
.experience-section__one div p {
  font-size: 1.15rem;
  font-weight: 200;
  margin-right: 0;
  line-height: 2.5rem;
}

.experience-section__one div .card {
  width: 100%;
  margin-top: 4rem;
}

.experience-section__two {
  margin-top: 15rem;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.experience-section__two img {
  width: 100%;
  height: auto;
  object-position: center;
}

.experience h5:nth-child(2) {
  margin-top: 15rem;
}

.experience-section__three {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Grid Parent */
.experience-section__three .parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 50px;
  width: 90%;
  height: 150vh;
  min-height: 1200px;
  max-width: 1000px;
  margin: 0 auto;
}

/* Grid Items */
.div1,
.div2,
.div3,
.div4,
.div5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

/* Grid Areas */
.div1 {
  grid-area: 1 / 1 / 3 / 4;
}
.div2 {
  grid-area: 3 / 1 / 5 / 4;
}
.div3 {
  grid-area: 5 / 1 / 7 / 4;
  overflow: visible;
}
.div4 {
  grid-area: 1 / 4 / 4 / 7;
}
.div5 {
  grid-area: 4 / 4 / 7 / 7;
}

/* Image Styles */
.div2 img,
.div4 img,
.div5 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures image covers the container without distortion */
  object-position: center; /* Centers the image */
}

/* Text Styles */
.experience-section__three span {
  margin-bottom: 10px;
  font-size: 5rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}

.experience-section__three p {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 200;
  line-height: 2.2rem;
}

.experience-section__three .card {
  margin-top: 4rem;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 768px) {
  .experience-section__three .parent {
    grid-template-columns: 1fr; /* Single column layout */
    grid-template-rows: repeat(5, auto); /* Adjust row heights to fit content */
    height: max-content;
  }

  /* Adjust Grid Areas for Single Column Layout */
  .div1 {
    grid-area: auto;
    height: max-content;
  }
  .div2 {
    grid-area: auto;
    height: max-content;
    overflow: hidden;
  }
  .div3 {
    grid-area: auto;
    height: max-content;
    overflow: visible;
  }
  .div4 {
    grid-area: auto;
    height: max-content;
  }
  .div5 {
    grid-area: auto;
    height: max-content;
  }
}

@media only screen and (min-width: 768px) {
  .experience h5 {
    font-size: 8rem;
  }

  .experience-section__one {
    display: flex;
    flex-direction: row;
  }

  .experience-section__one img {
    width: 40%;
  }

  .experience-section__one div {
    width: 40%;
  }

  .experience-section__one div p {
    margin-right: 6rem;
  }
}

/**
Visitans
*/
.visit {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-width: 100vw;
}
.visit h5 {
  font-size: 8rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}

.visit .card {
  margin-bottom: 8rem;
}

.visit_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.gmaps {
  width: 90vw !important;
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .visit_content {
    flex-direction: row;
  }
  .gmaps {
    width: 500px !important;
  }
}

.gmaps {
  opacity: 0.45rem !important;
}

/**
Carta
*/
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-width: 100vw;
}
.menu h5 {
  font-size: 8rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}

.menu__heading {
  font-size: 4rem;
  font-family: "PP Playground", cursive;
  font-weight: 300;
}

/* Menu Block */
.menu__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Menu Heading */
.menu__heading {
  position: relative;
  z-index: 1;
  padding: 0 20px; /* Match the background color */
}

/* Decorative Lines */
.menu__block::before,
.menu__block::after {
  content: "";
  flex: 1;
  border-top: 1px solid white;
  margin: 0 -80px;
  transform: translateY(-50%); /* Align vertically with the text */
}

/* Optional: Ensure lines stretch and adjust around text */
.menu__block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
}

.menu__block:nth-child(1) {
  margin-top: 0;
}

.menu__block::before,
.menu__block::after {
  position: absolute;
  top: 50%;
  width: calc(50% - 70px); /* Adjust for text width */
}
.menu__block::before {
  left: 0;
}

.menu__block::after {
  right: 0;
}

.menu__dish {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 3.5rem;
  align-self: center;
  text-align: center;
}

/**
Gallery
*/
.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  max-width: 100vw;
}
.gallery h5 {
  font-size: 8rem;
  font-weight: 300;
  font-family: "PP Playground", cursive;
}

.gallery_grid {
  pointer-events: none;
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
  display: grid;
  grid-template-columns: repeat(50, 2%);
  grid-template-rows: repeat(50, 2%);
}

.gallery_grid__item {
  position: relative;
}

.gallery_grid--img .gallery_grid__item {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
}

.gallery_grid__item-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery_grid--img .gallery_grid__item-img {
  flex: none;
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  will-change: transform;
}

/* Shorthand grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end */

.pos-1 {
  grid-area: 10 / 1 / 26 / 7;
}

.pos-2 {
  grid-area: 1 / 18 / 9 / 27;
}

.pos-3 {
  grid-area: 1 / 36 / 14 / 42;
}

.pos-4 {
  grid-area: 13 / 11 / 32 / 18;
}

.pos-5 {
  grid-area: 17 / 32 / 32 / 38;
}

.pos-6 {
  grid-area: 20 / 46 / 28 / 51;
}

.pos-7 {
  grid-area: 43 / 1 / 51 / 10;
}

.pos-8 {
  grid-area: 38 / 14 / 46 / 22;
}

.pos-9 {
  grid-area: 40 / 26 / 51 / 32;
}

.pos-10 {
  grid-area: 37 / 39 / 48 / 47;
}
